<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" href="../css/admin_lessonMoti_1.css">
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <title>管理员管理系统</title>
</head>

<body>
<div id="container">
    <div id="header">
        <h1>&nbsp;&nbsp;管理员系统管理页面</h1>
    </div>
    <div id="menu">
        <a title="查看自己的课程目录" href="admin_check.html" target="_top" class="a_1">
            查看已有的课程目录->
        </a>
        <a title="课程信息维护" href="admin_lessonMoti.html" target="_top" id="lesson">
            课程信息维护->
        </a>
        <a title="教师信息维护" href="admin_teacherMoti.html" target="_top" class="a_1">
            教师信息维护->
        </a>
        <a title="学生信息维护" href="admin_studentMoti.html" target="_top" class="a_1">
            学生信息维护->
        </a>
        <a href="admin.html" target="_top" class="a_1">
            返回主页->
        </a>
        <a title="返回主页" href="vue1.html" target="_top" class="a_1">
            退出->
        </a>
    </div>
    <div id="head">
        <h2>&nbsp;&nbsp;管理系统 > 课程信息维护</h2>
    </div>
    <div id="mainarea">
        <div id="box">
            <select v-model="selected" id="zero">
                <option value="请输入课程名字">课程名字</option>
                <option value="请输入教师名字">教师名字</option>
                <option value="请输入学院编号">学院编号</option>
            </select>
            <label for="aa"></label><input id="aa" type="text" v-model="info_id">
            <input type="button" value="搜索" id="bb" v-on:click="great">
            <input type="button" value="新建" id="cc" onclick="window.location.href='admin_lessonMoti_detail_new.html'">
        </div>
        <div id="subjectmenu" v-if="show">
            <ul class="subject" v-for="(site,index) in data1">
                <li style="padding:30px 0">
                    <div class="titTxt">
                        <p class="subject">
                        &nbsp;&nbsp;{{site.name}}
                        </p>
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="subButton">
                        <a class="btn_subject" v-on:click="great_1(index)">
                            查看
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

<script>
    new Vue({
        el: '#mainarea',
        data: {
            show: false,
            info_id: null,
            selected: null,
            data1: null
        },
        methods: {
            great: function () {
                var id = this.info_id;
                if (this.selected == '请输入课程名字') {
                    var url1 = 'http://localhost:8080/curriculum/searchCurrByName/' + id;
                    axios
                        .get(url1)
                        .then(response =>{
                        this.show = true;
                    this.data1 = response.data;
                })
                }
                if (this.selected == '请输入教师名字') {
                    var url2 = 'http://localhost:8080/curriculum/searchCurrByTeacherName/' + id;
                    axios
                        .get(url2)
                        .then(response =>{
                        this.show = true;
                    this.data1 = response.data;
                    this.data1 = response.data;
                })
                }
                if (this.selected == '请输入学院编号') {
                    var url3 = 'http://localhost:8080/curriculum/searchCurrBySchoolId/' + id;
                    axios
                        .get(url3)
                        .then(response =>{
                        this.show = true;
                    this.data1 = response.data;
                    this.data1 = response.data;
                })
                }
            },
            great_1: function(index){
                window.location.href="admin_lessonMoti_detail.html?id=" + this.data1[index].id + '&name=' + this.data1[index].name;
            }
        }

    })
</script>

</body>
</html>