<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" href="../css/admin_lessonMoti_detail_new_1.css">
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <title>管理员管理系统</title>
</head>

<body>
<div id="container">
    <div id="header">
        <h1>&nbsp;&nbsp;管理员系统管理页面</h1>
    </div>
    <div id="menu">
        <a title="查看自己的课程目录" href="admin_check.html" target="_top" class="a_1">
            查看已有的课程目录->
        </a>
        <a title="课程信息维护" href="admin_lessonMoti.html" target="_top" id="lesson">
            课程信息维护->
        </a>
        <a title="教师信息维护" href="admin_teacherMoti.html" target="_top" class="a_1">
            教师信息维护->
        </a>
        <a title="学生信息维护" href="admin_studentMoti.html" target="_top" class="a_1">
            学生信息维护->
        </a>
        <a href="admin.html" target="_top" class="a_1">
            返回主页->
        </a>
        <a title="返回主页" href="vue1.html" target="_top" class="a_1">
            退出->
        </a>
    </div>
    <div id="head">
        <h2>&nbsp;&nbsp;管理系统 > 课程信息维护</h2>
    </div>
    <div id="mainarea">
        <div id="select">
            <a class="a_2" href="admin_lessonMoti_detail_new.html">新建课程信息</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div id="excel">
            <table class="table">
                <tr>
                    <td height="75px" width="90px">课程编号：</td>
                    <td id="no" width="300px" height="75px">
                        <input type="text" v-model="info_id">
                    </td>
                </tr>
            </table>
            <br>
            <table class="table">
                <tr>
                    <td height="75px" width="90px">课程名字：</td>
                    <td id="name" width="300px" height="75px">
                        <input type="text" v-model="info_name">
                    </td>
                </tr>
            </table>
            <table class="table">
                <tr>
                    <td height="75px" width="90px">学院编号：</td>
                    <td id="psaa" width="300px" height="75px">
                        <input type="text" v-model="info_pswd">
                    </td>
                </tr>
            </table>
            <table class="table">
                <tr>
                    <td height="75px" width="90px">教师编号：</td>
                    <td id="passNew" width="300px" height="75px">
                        <input type="text" v-model="info_psd">
                    </td>
                </tr>
            </table>
        </div>
        <div id="queren">
            <p>先修课程</p>
            <textarea row="20" cols="45" v-model="info_class"></textarea>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p>推荐书目</p>
            <textarea row="20" cols="45" v-model="info_book"></textarea>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p>课程介绍</p>
            <textarea row="20" cols="45" v-model="info_intro"></textarea>
            <br>
            <br>
            <br>
            <br>
            <input type="button" value="新建" v-on:click="great">
        </div>
    </div>
</div>
<script>
    new Vue({
        el: '#mainarea',
        data: {
            info_id: null,
            info_name: null,
            info_pswd: null,
            info_psd: null,
            info_book: null,
            info_intro: null,
            info_class: null
        },
        methods: {
            great: function(){
                if(isNaN(this.info_id) != false){
                    alert('科目编号不为数字')
                }else{
                    var _this = this;
                    function posta(){
                        return axios.post('http://localhost:8080/curriculum/createCurriculum',{
                            id: _this.info_id,
                            name: _this.info_name,
                            school_id: _this.info_pswd,
                            teacher_id: _this.info_psd
                        });
                    }
                    function postb(){
                        return axios.post('http://localhost:8080/curriculum/createCurrInfo',{
                            id: _this.info_id,
                            book: _this.info_book,
                            info: _this.info_intro,
                            prerequisite: _this.info_class
                        });
                    }
                    axios.all([posta(),postb()])
                        .then(axios.spread(function(resA,resB){
                            alert("创建成功");
                        }));
                }
            }
        }
    })
</script>
</body>
</html>